 <div
    class='modal fade'
    id='updatePostModal'
    tabindex='-1'
    role='dialog'
    aria-hidden='true'
    style='margin-top: 5%; border-color: #ffff;'
  >
    <div class='modal-dialog' role='document'>
      <div class='modal-content'>
        <div class='modal-header'>
          <div class='row' style='padding-top: 2%;'>
            <h5
              class='modal-title'
              style='justify-content:center; text-align:center;  color:var(--dark-green-color);'
            >
              Create Post</h5>
          
          </div>
        </div>
        <div
          class='modal-body justify-content-center align-items-center'
          style='border-color: #FFFF;'
        >
          <form id='signUpForm'>
            <div class='form-group'>
                 <input
                type='text'
                class='form-control form-signup'
                id='updatePostTitleInput'
                aria-describedby='emailHelp'
                placeholder='Title for your post'
                style='justify-content: center; text-align: left; align-items: center; margin-bottom: 2%;'
              />
              <input
                type='text'
                class='form-control form-signup'
                id='updatePostContentInput'
                aria-describedby='emailHelp'
                placeholder='What are you thinking?'
                style='justify-content: center; text-align: left; align-items: center; margin-bottom: 2%;'
              />
              {{! <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                      else.</small> }}
            </div>
           
            <div class='div-btn-submit' style="text-align: center;">
              <button
                type='submit'
                class='btn btn-outline-dark'
                id='updatePostSubmit'
              >Submit</button>
            </div>

          </form>
        </div>
        {{! <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div> }}
      </div>
    </div>
  </div>

<div class='card text-center' style='padding:2%; margin-top:2%'>
  <ul class='nav nav-tabs' id='myTab' role='tablist'>
    <li class='nav-item' role='presentation'>
      <button
        class='nav-link active'
        id='home-tab'
        data-bs-toggle='tab'
        data-bs-target='#home-tab-pane'
        type='button'
        role='tab'
        aria-controls='home-tab-pane'
        aria-selected='true'
      > My Post</button>

    </li>
    <li class='nav-item' role='presentation'>
      <button
        class='nav-link'
        id='profile-tab'
        data-bs-toggle='tab'
        data-bs-target='#profile-tab-pane'
        type='button'
        role='tab'
        aria-controls='profile-tab-pane'
        aria-selected='false'
      >Comments</button>
    </li>

  </ul>
  <div class='tab-content' id='myTabContent'>
    <div
      class='container tab-pane fade show active'
      id='home-tab-pane'
      role='tabpanel'
      aria-labelledby='home-tab'
      tabindex='0'
      style='padding-top: 2%;'
    >
    <p style="padding-right: 80%; font-weight:700;">{{title}}</p>
    <p>{{content}}</p>
    </br>
    <small style="padding-left: 80%; font-size:x-small;">{{dateOfCreation}}</small></br>
      <button type='button' class ='updatePost-btn btn btn-outline-warning'data-bs-toggle='modal'
                  data-bs-target='#updatePostModal' data-id="{{id}}" style="margin-top: 2%;">Update Post</button>
      <button type='button' class ='deletePost-btn  btn btn-outline-danger'  data-id="{{id}}" style="margin-top: 2%;">Delete Post</button>
      </div>
    <div
      class='tab-pane fade'
      id='profile-tab-pane'
      role='tabpanel'
      aria-labelledby='profile-tab'
      tabindex='0'
      style='padding:1%;'
    >
      {{#if comments.length}}
        {{#each comments}}
           <div class="container" style="padding: 1% 0 2% 0; ">
             <p>{{content}}</p>
             <p style="padding-left:50%;color:rgba(0, 0, 0, 0.548);">- {{user.username}}</p>
           </div>
        {{/each}}
      {{else}}
        <p>No Comments Yet.</p>
      {{/if}}

    </div>

  </div>
 
</div>